body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('https://source.unsplash.com/random/1600x900?food-background');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.contact-us-container {
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.contact-us-header {
    text-align: center;
    margin-bottom: 40px;
}

.contact-us-header h1 {
    font-size: 2.5em;
    color: #333;
    text-shadow: 2px 2px #fff;
}

.contact-us-section {
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.contact-us-form .contact-us-button {
    margin-top: 20px;
    background-color: #35A575;
    color: #fff;
    transition: background-color 0.3s;
}

.contact-us-form .contact-us-button:hover {
    background-color: #1d724e;
}

.helpdesk-info {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2em;
}

.helpdesk-info i {
    margin-right: 10px;
    color: #35A575;
    background-color: #ffffff;
    font-size: large;
}

.sample-context {
    margin-top: 20px;
}

.description-card {
    margin-top: 20px;
}

.description-card img {
    border-radius: 8px;
}

@media (max-width: 768px) {
    .contact-us-container {
        padding: 10px;
    }


}