.footer {
  padding: 50px 0;
  background: #fde4e4;
  display: flex;
  text-align: start;
  justify-content: center;
  gap: 8rem;
  align-items: center;
  color: #333;
}

.footer__logo img {
  width: calc(100% - 70%);
  margin-bottom: 1.5rem;
}

.footer__logo h5 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 15px;
}

.footer__logo p {
  font-size: 0.9rem;
  color: #333;
  line-height: 29px;
}

.delivery__time-item {
  display: flex;
  margin: 0;
  gap: 0.7rem;
  background: transparent !important;
}

.delivery__time-item span {
  font-weight: 600;
  color: #212245;
  margin: 0;
}

.delivery__time-item p {
  color: #212245;
}

.footer__title {
  font-size: 1.1rem;
  color: #212245;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__logo,
.footer__delivery-time,
.footer__contact,
.footer__newsletter {
  flex: 1 1 200px;
  margin: 10px;
}

.newsletter__input {
  display: flex;
  gap: 10px;
  align-items: center;
}


.newsletter__input input {
  flex: 1;
  padding: 5px;
}

.newsletter__input button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 20px;
}

.footer__social-links a {
  color: #333;
  margin-right: 10px;
  text-decoration: none;
}

.footer__social-links a:hover {
  color: red;
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .footer__logo img {
    width: calc(100% - 85%);
  }

  .footer__title {
    font-size: 0.9rem;
  }

  .delivery__time-item span {
    font-size: 0.8rem;
  }

  .delivery__time-item p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
}

.footer__social-media {
  margin-top: 20px; /* Add margin-top to separate from newsletter input */
}

.social-media-icons {
  display: flex;
  gap: 10px;
}

.social-icon {
  cursor: pointer;
  transition: color 0.3s;
}

.social-icon:hover {
  color: red; /* Change color on hover */
}

.footer__bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

