.hero__content {
  padding-top: 70px;
}

.hero__title {
  font-size: 2.5rem;
  line-height: 55px;
}

.hero__title span {
  color: #35A575;
}

.hero__content p {
  font-size: 1rem;
  line-height: 30px;
  color: #777;
}

.order__btn {
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  background: #35A575;
  color: #fff;
  font-weight: 600;
}

.order__btn:hover {
  background: #2E8C66;
}

.order__btn:hover a {
  color: inherit;
  text-decoration: none;
}

.hero__img {
  margin: 40px;
}

.rectangle__one {
  width: 475px;
  height: 400px;
  background-color: #4CAF50;
  /*border: 2px solid #333;*/
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.rectangle__one p {
  text-align: center;
  padding-top: 10px;
  color: #ffffff;
}

.rec__one_text {
  padding-top: 20pt;
}

.rec__one_text h1 {
  font-size: 35pt;
  text-align: center;

}



.rec_one_t {
  font-family: "Poppins Bold", sans-serif;
  color: #ffffff;
  line-height: 45px;
}

.reg_now_sec{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ex_men_sec{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sec__two__heading {
  display: flex;
  justify-content: center;
  align-items: center;;
}
.reg_now_btn {
  border-color: #2E8C66;
  border-width: 2px;
  outline: none;
  padding: 14px 40px;
  border-radius: 10px;
  cursor: pointer;
  background: #ffffff;
  color: #000000;
  font-weight: 600;
  transition: background-color 0.1s, color 0.2s;

}


.reg_now_btn:hover        {
  color: #35A575;

}

.ex_men_btn {
  border-color: #2E8C66;
  border-width: 2px;
  outline: none;
  padding: 14px 40px;
  border-radius: 10px;
  cursor: pointer;
  background: #2E8C66;
  color: #ffffff;
  font-weight: 600;
  transition: background-color 0.1s, color 0.2s;

}


.reg_now_btn:hover        {
  color: #35A575;

}
.ex_men_btn:hover       {
  color: #000000;
  background: #F5C80D;
  border-color: #2E8C66;
  border-width: 2px

}
@media only screen and (max-width: 768px) {
  .hero__content h5 {
    font-size: 1rem;
  }

  .hero__content p {
    font-size: 0.8rem;
    line-height: 25px;
  }

  .hero__title {
    font-size: 1.5rem;
    line-height: 40px;
  }
}

@media only screen and (max-width: 576px) {
  .hero__content {
    text-align: center;
  }

  .order__btn {
    display: block;
    margin: 0 auto;
  }
}
